<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
  <div class="search-form-control" id="search-form">
    <%# <input type="text" id="search" name="search" class="form-control string required"> %>
    <label for="search">Where:</br>
    <input type="text" id="search" name="search">
    </label>
    <label for="check_in">Check-in:</br>
    <input type="date" id="check_in" name="check_in" value=<%= Date.today %> min=<%= Date.today %> max="2030-12-31">
    </label>
    <label for="check_out">Check-out:</br>
    <input type="date" id="check_out" name="check_out" value=<%= (Date.today+1) %> min=<%= Date.tomorrow %> max="2030-12-31">
    </label>
    <label for="guests">Add guests:</br>
    <input type="number" id="guests" name="guests" value="1" min="1">
    </label>
    <button type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>
