.logo {
  color: #e41d57;
}

.logo-title {
  display: inline;
  color: #e41d57;
  font-family: monospace;
  font-weight: 700;
  font-size: larger;
  margin: 0;
  padding: 0;
  margin-left: 2px;
}

.logo-subtitle {
  display: inline;
  color: #e41d57;
  font-family: monospace;
  font-style: italic;
}

.logo-container {
  display: inline;
}
